################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
[Bb]in/
[Oo]bj/
.vs/
/EduPortal/obj/project.nuget.cache
/.vs/EduPortal/v17/.suo
*.vsidx
/.vs/EduPortal/FileContentIndex/0c8fd1c4-7876-4f48-8406-c922e2b073ff.vsidx
/EduPortal/obj/Debug/net8.0/EduPortal.AssemblyInfo.cs
/EduPortal/obj/Debug/net8.0/EduPortal.AssemblyInfoInputs.cache
/EduPortal/obj/Debug/net8.0/EduPortal.assets.cache
/EduPortal/obj/Debug/net8.0/EduPortal.GeneratedMSBuildEditorConfig.editorconfig
/EduPortal/obj/EduPortal.csproj.nuget.dgspec.json
/EduPortal/obj/project.assets.json
/.vs/EduPortal/FileContentIndex/85f28be6-42f6-4265-a761-fdc09b7cae7a.vsidx
/.vs/EduPortal/FileContentIndex/9eb03328-e771-4170-aa77-174515611781.vsidx
/.vs/EduPortal/FileContentIndex/e3ba9c10-869d-467b-ba65-ecea552d6b3a.vsidx
/EduPortal/bin/Debug/net8.0/EduPortal.dll
/EduPortal/bin/Debug/net8.0/EduPortal.exe
/EduPortal/bin/Debug/net8.0/EduPortal.pdb
/EduPortal/obj/Debug/net8.0/ref/EduPortal.dll
/EduPortal/obj/Debug/net8.0/refint/EduPortal.dll
/EduPortal/obj/Debug/net8.0/apphost.exe
/EduPortal/obj/Debug/net8.0/EduPortal.csproj.FileListAbsolute.txt
/EduPortal/obj/Debug/net8.0/EduPortal.dll
/EduPortal/obj/Debug/net8.0/EduPortal.genruntimeconfig.cache
/EduPortal/obj/Debug/net8.0/EduPortal.pdb
*.json
/.vs/EduPortal/DesignTimeBuild/.dtbcache.v2
/EduPortal/obj/Debug/net8.0/EduPortal.csproj.CoreCompileInputs.cache
/.vs/EduPortal/v17/.futdcache.v2
/.vs/ProjectEvaluation/eduportal.metadata.v7.bin
/.vs/ProjectEvaluation/eduportal.projects.v7.bin
/.vs/EduPortal/FileContentIndex/3980cca2-3119-4594-81e2-44cb6438c61d.vsidx
/EduPortalTesting/bin/Debug/net8.0
/EduPortalTesting/obj
/EduPortal/bin/Debug/net8.0/Services.dll
/EduPortal/bin/Debug/net8.0/Services.pdb
/EduPortal/obj/Debug/net8.0/EduPortal.csproj.AssemblyReference.cache
/Services/obj/Debug/net8.0/ref/Services.dll
/Services/obj/Debug/net8.0/refint/Services.dll
/Services/obj/Debug/net8.0/Services.AssemblyInfoInputs.cache
/Services/obj/Debug/net8.0/Services.csproj.BuildWithSkipAnalyzers
/Services/obj/Debug/net8.0/Services.AssemblyInfo.cs
/Services/bin/Debug/net8.0/Services.dll
/Services/bin/Debug/net8.0/Services.pdb
/Services/obj/Debug/net8.0/Services.dll
/Services/obj/Debug/net8.0/Services.pdb
/.vs/EduPortal/v17/TestStore/0
